@charset "UTF-8";
body{
	margin:0 auto;
	width:90%;
	min-width: 700px;
}
a {
	cursor: pointer;
	text-decoration: none;
}
ul {
	list-style-type: none;
	
}
hr {
	color: white;
}
header{
	height: 70px;
}
main header{
	height: 200px;
	margin: 16px;
}
aside {
	border:1px solid black;
	float:left;
	width:180px;
	height: 500px;
/* 	padding: 8px; */
    margin-right:16px;
}
.myPageForm {
	border:1px solid black;
	height: 500px;
/* 	padding: 8px 8px; */
}
footer {
	border:1px solid black;
	height: 200px;
	margin-bottom:50px;
	clear:both;

}
#userThumnail{
	border-radius: 50%;
}
.userinfo-box {
	margin: 0 auto;
}
.classbox {
	margin: 0 auto;
	
}
table{
 	border-collapse: collapse;
	
}

#allQnaTable {
	width:70%;
 	border:1px solid black;
	background-color: gray;
}

#allQnaTable thead th:nth-child(2) {
	width:85px;
}
#allQnaTable thead th:nth-child(3) {
	width:85px;
	text-overflow: ellipsis;
}
#allQnaTable thead th:nth-child(1) {
/* 	width:200px; */
    text-overflow: ellipsis;
}
#allQnaTable textarea {
	width:99%;
}
#Save{
	width: 100px;
	height: 30px;
	
}
.userinfo-box {
	text-align: center;
}
#myPageBtns {
	text-align: center;
}
.myInfoLabel {
	text-align: right;
	width: 50%;
	min-width: 400px;
	margin-bottom: 8px;
}
.myInfoLabel input{
	width:50%;
	min-width:400px;
}
.myInfoLabel div {
	float:left;
	width:70px;
}
#introduce{
	height: 100px;
}
.myPageBtns{
	width: 500px;
	height: 30px;
}








