@charset "UTF-8";

body{
	/* margin:0 auto; */
	width:90%;
	min-width: 700px;
}
.header{
	border:1px solid grey;
	clear: left;
	background-color: #eAeAeA;
	padding: 2px;
}
.header h3{
	text-align:center;
}
header #logoutBtn{
   background-color:white;
   border: none; 
    padding: 16px 32px;
    margin: 4px 2px;
    font-size: 16px;
    font-weight: bold;
   float:right;
}
button{
 	width: 80px;
 	min-width: 50px; 
	height: 30px;
}

#edit-box{
	display:block;
	/* border:1px solid black; */
	/* margin-top: 10px; */
	margin-right: auto;
	width: 800px;
}
.inbox{
	/* border:1px solid black; */
	border: 1px solid grey;
	margin: 3px auto;
	/* width: 98%; */
	height: 98%;
	padding: 15px 8px;
	clear: left;
}
.box{
	/* border: 1px solid grey; */
	margin: 3px auto;
	/* clear: left; */
}

#class-schedule-off{
	display:none;
}

#schedule-enddate{
	display:none;	
}

#calendar{
	width: 450px;
}
.open-btn{
	display:block;
	margin-left:693px;
	margin-bottom:5px;
}
#schedule{
	display: none;
}
.labelbox{
	width: 85px;
	/* display: inline; */
	float: left;
}
#class-schedule-off{
	/* margin-left:70px; */
}